.Home {
  text-align: center;
}

.fr-add{
  margin: 15px;
  padding: 15px;
  text-align: center;
  background-color: burlywood;
  border-radius: 2%;
}

.NoteLists{
  text-align: center;
}

input{
  margin: 10px;
  width: 50%;
}

textarea{
  margin: 10px;
    width: 50%;
}

.submit-note{
  width: 50%;
  height: 50px;
}

.note-item{
  margin: 15px;
    padding: 15px;
  background-color: rgba(243, 220, 190, 0.671);
    border-radius: 2%;
}